.singup-bg {
    width: 700px;
    height: 546px;
    display: flex;
    flex-direction: column;
}

.singup-header {
    display: flex;
    top: 0;
    left: 0;
    width: 620px;
    height: 42px;
    align-items: center;
    justify-content: center;
   justify-content: space-between;
}


.singup {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
}

.form-input {
    position: relative;
    display: flex;
    flex-direction: column;
}

label {
    position: relative;
}